<!DOCTYPE html>
<html>
<head>
	<title>Features | evive</title>
	<meta name="description" content="evive is an open source embedded platform for all age groups to help them learn, build, debug their robotics, embedded and other projects. evive has a lot of features whih are breif described in this page."/>
	<meta name="author" content="Agilo Technologies"/>
	<meta name="keywords" content="evive, toolkit, arduino, features, learning center, power, hardware interaction">
</head>
<body>

</body>
</html>

<div class="features-page-container">
	<h1 class="features-main-title">Features</h1>
	<div class="features-container">
		<div class="feature-category">
			<a class="feature-image-container" href="?t=Power">
				<img class="main-image" src="./sq/powerModule.png"/>
			</a>
			<div>
				<a class="title" href="?t=Power">Power Module</a>
				<div style="font-size: 14px">
					evive has its own inbuilt Li-ion 2200mAh battery, giving it portability and durability. 
					It can also be powered externally by a USB wall charger, power bank, DC wall adapter, laptops and >12V batteries. These inputs have reverse polarity, overvoltage and overcurrent protection to protect you and your evive in the event of any mistakes.
					evive also has a host of power output ports, with a fixed 5V/3A supply, fixed 3.3V/0.8A supply and a tunable voltage supply from 1.25 – 30V/3A.
				</div>
				<div class="icon-link-container">
					<a href="?t=Power#PowerSwitch">
						<img class="icon" src="./sq/power/powerSwitch.png"/>
						<div class="icon-title">Power</br>Switch</div>
					</a>
					<a href="?t=Power#InternalBattery">
						<img class="icon" src="./sq/power/liBattery.png"/>
						<div class="icon-title">Internal</br> Battery</div>
					</a>
					<a href="?t=Power#PowerInput">
						<img class="icon" src="./sq/power/powerIn.png"/>
						<div class="icon-title">Power Input</div>
					</a>
					<a href="?t=Power#PowerOutput">
						<img class="icon" src="./sq/power/5v.png"/>
						<div class="icon-title">5V Output</div>
					</a>
					<a href="?t=Power#PowerOutput">
						<img class="icon" src="./sq/power/varVoltage.png"/>
						<div class="icon-title">Variable Voltage Output</div>
					</a>
					<a href="?t=Power#LED">
						<img class="icon" src="./sq/power/indicators.png"/>
						<div class="icon-title">LED Indicators</div>
					</a>
					<a href="?t=Power#Protections">
						<img class="icon" src="./sq/power/overCurrent.png"/>
						<div class="icon-title">Overcurrent Protection</div>
					</a>
					<a href="?t=Power#Protections">
						<img class="icon" src="./sq/power/overVoltage.png"/>
						<div class="icon-title">Overvoltage Protection</div>
					</a>
					<a href="?t=Power#Protections">
						<img class="icon" src="./sq/power/revPol.png"/>
						<div class="icon-title">Reverse Polarity Protection</div>
					</a>	
				</div>
			</div>
		</div>
		<div class="feature-category">
			<a class="feature-image-container" href="?t=HardwareInteraction">
				<img class="main-image" src="./sq/HardwareInteraction.png"/>
			</a>
			<div>
				<a class="title" href="?t=HardwareInteraction">Hardware Interaction</a>
				<div style="font-size: 14px">
					With two knob potentiometers, 2 tactile switches, 2 slide switches, a 5-way navigation key and 12 capacitive touch inputs, evive makes it incredibly easy to interact with your projects without any messy circuits.
				</div>
				<div class="icon-link-container">
					<a href="?t=Potentiometer">
						<img class="icon" src="./sq/hardwareInteraction/potentiometer.png"/>
						<div class="icon-title">Knob Potentiometer</div>
					</a>
					<a href="?t=TactileSwitch">
						<img class="icon" src="./sq/hardwareInteraction/tactileSwitch.png"/>
						<div class="icon-title">Tactile Switches</div>
					</a>
					<a href="?t=SlideSwtich">
						<img class="icon" src="./sq/hardwareInteraction/slideSwitch.png"/>
						<div class="icon-title">Slide Switches</div>
					</a>
					<a href="?t=NavKey">
						<img class="icon" src="./sq/hardwareInteraction/joyStick.png"/>
						<div class="icon-title">5-way Navigation Key</div>
					</a>
					<a href="?t=Touch">
						<img class="icon" src="./sq/hardwareInteraction/tactileSwitch.png"/>
						<div class="icon-title">12 Capacitive Touch Inputs</div>
					</a>	
				</div>
			</div>
		</div>
		<div class="feature-category">
			<a class="feature-image-container" href="?t=PlugAndPlayInterface">
				<img class="main-image" src="./sq/PlugAndPlayInterface.png"/>
			</a>
			<div>
				<a class="title" href="?t=PlugAndPlayInterface">Plug and Play Hardware Interface</a>
				<div style="font-size: 14px">
					Direct outputs for running DC motors, stepper motors, pneumatics, relays and servos (for low current consuming hardware approx. 1A) make it as easy as plugging in your device into evive and directly playing with it using the hardware interaction module. For controlling high current consuming devices, it has 2 ports with signal outputs to control your motor drivers.
				</div>
				<div class="icon-link-container">
					<a href="?t=Motor">
						<img class="icon" src="./sq/plugAndPlay/motor.png"/>
						<div class="icon-title">DC Motor</div>
					</a>
					<a href="?t=MotorDriver">
						<img class="icon" src="./sq/plugAndPlay/motorDriver.png"/>
						<div class="icon-title">DC Motor </br>Driver</div>
					</a>
					<a href="?t=Servo">
						<img class="icon" src="./sq/plugAndPlay/servo.png"/>
						<div class="icon-title">Servo Motor</div>
					</a>
					<a href="?t=Stepper">
						<img class="icon" src="./sq/plugAndPlay/stepper.png"/>
						<div class="icon-title">Stepper Motor</div>
					</a>
					<a href="?t=Relay">
						<img class="icon" src="./sq/plugAndPlay/relay.png"/>
						<div class="icon-title">Relay</div>
					</a>	
					<a href="?t=Pnuematics">
						<img class="icon" src="./sq/plugAndPlay/pneumatics.png"/>
						<div class="icon-title">Pnuematics</div>
					</a>	
				</div>
			</div>
		</div>
		<div class="feature-category">
			<a class="feature-image-container" href="?t=Feedback">
				<img class="main-image" src="./sq/ModesOfFeedback.png"/>
			</a>
			<div>
				<a class="title" href="?t=Feedback">Modes of Feedback</a>
				<div style="font-size: 14px">
					evive has multi-modal feedback, both visual and auditory. The 1.8” TFT screen with 18-bit colour and a resolution of 160x128px displays the menu which controls evive, but can be programmed according to your custom needs. It has 1 single-colour and 2 dual-colour programmable LEDs, along with fixed LEDs for serial communication, power indication and battery charging status. The auditory mode consists of a 2k-10kHz piezo buzzer.
				</div>
				<div class="icon-link-container">
					<a href="?t=Buzzer">
						<img class="icon" src="./sq/Feedback/buzzer.png"/>
						<div class="icon-title">Piezo Buzzer</div>
					</a>
					<a href="?t=Screen">
						<img class="icon" src="./sq/Feedback/tft.png"/>
						<div class="icon-title">TFT Screen</div>
					</a>
					<a href="?t=IndicationLED">
						<img class="icon" src="./sq/Feedback/ledDir.png"/>
						<div class="icon-title">Programmable LEDs</div>
					</a>
				</div>
			</div>
		</div>
		<div class="feature-category">
			<a class="feature-image-container" href="?t=RTC">
				<img class="main-image" src="./sq/DataAquisition.png"/>
			</a>
			<div>
				<a class="title" href="?t=RTC">Data Aquisition Module</a>
				<div style="font-size: 14px">
					evive has a precise data acquisition module, with 2 24-bit ADCs capable of voltage sensing (voltmeter) up to +/- 30V with 10mV accuracy, and current sensing (ammeter) up to +/- 3A with 3mA accuracy, at a maximum sensing frequency of 75 kHz. With the on-board real-time clock, it can log data with timestamps, and store it in an SD card or transmit it via serial or Bluetooth. 
				</div>
				<div class="icon-link-container">
					<a href="?t=RTC">
						<img class="icon" src="./sq/DataAquisition/rtc.png"/>
						<div class="icon-title">Real Time </br>Clock</div>
					</a>
					<a href="?t=SDCard">
						<img class="icon" src="./sq/DataAquisition/SD.png"/>
						<div class="icon-title">SD Card </br>Adapter</div>
					</a>
					<a href="?t=Ammeter">
						<img class="icon" src="./sq/DataAquisition/senseRange3A.png"/>
						<div class="icon-title">Ammeter </br>(-3A to +3A)</div>
					</a>
					<a href="?t=Voltmeter">
						<img class="icon" src="./sq/DataAquisition/senseRange5V.png"/>
						<div class="icon-title">Voltmeter </br>(-5V to +5V)</div>
					</a>
					<a href="?t=Voltmeter">
						<img class="icon" src="./sq/DataAquisition/senseRange30V.png"/>
						<div class="icon-title">Voltmeter </br>(-30V to +30V)</div>
					</a>	
					<a href="?t=ADC">
						<img class="icon" src="./sq/DataAquisition/ADC.png"/>
						<div class="icon-title">24-bit ADC</div>
					</a>
					<a href="?t=SensingCables">
						<img class="icon" src="./sq/DataAquisition/0senseCables.png"/>
						<div class="icon-title">Banana Sensing Cables</div>
					</a>		
				</div>
			</div>
		</div>
		<div class="feature-category">
			<a class="feature-image-container" href="?t=MiniOscilloscope">
				<img class="main-image" src="./sq/Oscilloscope.png"/>
			</a>
			<div>
				<a class="title" href="?t=MiniOscilloscope">Mini Oscilloscope</a>
				<div style="font-size: 14px">
					evive can be used as mini oscilloscope to visualize voltage and current measurements. Is has lots of function like scaling voltage level, time scaling to see the reading in better way, trigger to start the measurement at some set value, scanning modes like single or continuous, offset, save readings to SD card and send data to computer.
				</div>
			</div>
		</div>
		<div class="feature-category">
			<a class="feature-image-container" href="?t=IOT">
				<img class="main-image" src="./sq/IOT.png"/>
			</a>
			<div>
				<a class="title" href="?t=IOT">Internet of Things</a>
				<div style="font-size: 14px">
					The IoT hub contains ports for the ESP-8266, HC-05 and XBee modules, which provides WiFi, Bluetooth and RF connectivity. The modules can be plugged in directly and used.
				</div>
				<div class="icon-link-container">
					<a href="?t=Bluetooth">
						<img class="icon" src="./sq/communication/bluetooth.png"/>
						<div class="icon-title">Bluetooth </br>(HC05)</div>
					</a>
					<a href="?t=ESP">
						<img class="icon" src="./sq/communication/wiFi.png"/>
						<div class="icon-title">Wi-Fi </br>(ESP8266)</div>
					</a>
					<a href="?t=XBee">
						<img class="icon" src="./sq/communication/XBee.png"/>
						<div class="icon-title">XBee</div>
					</a>
					</a>	
				</div>
			</div>
		</div>
		<div class="feature-category">
			<a class="feature-image-container" href="?t=Menu">
				<img class="main-image" src="./sq/Menu.png"/>
			</a>
			<div>
				<a class="title" href="?t=Menu">Menu Interface (evive Firmware)</a>
				<div style="font-size: 14px">
					evive offers a novel way of interacting with your hardware and code, via the menu-interface displayed on the TFT screen and controlled using the 5-way switch. The pre-defined menu functionality includes driving motors and servos, data sensing and mini-oscilloscope, serial monitor, data logging, function generator and pin states. Users can also add their own functions easily and access them through the user defined functions submenu.
				</div>
			</div>
		</div>
		<div class="feature-category">
			<a class="feature-image-container" href="?t=FunctionGenerator">
				<img class="main-image" src="./sq/FunctionGenerator.png"/>
			</a>
			<div>
				<a class="title" href="?t=FunctionGenerator">Beta Function Generator</a>
				<div style="font-size: 14px">
					evive is also a mini-function generator with a 12-bit DAC and an IIC interface. The pre-defined menu offers generation of sine, square, triangular and sawtooth waves upto 530 Hz and 2.5V amplitude.
				</div>
			</div>
		</div>
		<div class="feature-category">
			<a class="feature-image-container" href="?t=ArduinoCoreInterface">
				<img class="main-image" src="./sq/Arduino.png"/>
			</a>
			<div>
				<a class="title" href="?t=ArduinoCoreInterface">Arduino Core Interface</a>
				<div style="font-size: 14px">
					The Magic Lid gives access to the entire Arduino Uno pinout which can be used for Uno shields. 28 Digital I/O, 10 Analog In, 15 PWM and 6 interrupt pins are accessible through the Magic Lid. The MEGA’s SPI, IIC and TTL interfaces are also available. evive also has two 3.3V digital I/O for your 3.3V CMOS logic level devices.
				</div>
				<div class="icon-link-container">
					<a href="?t=DigitalPin">
						<img class="icon" src="./sq/arduino/digitalPin.png"/>
						<div class="icon-title">Digital I/O Pins</div>
					</a>
					<a href="?t=AnalogPin">
						<img class="icon" src="./sq/arduino/analogPin.png"/>
						<div class="icon-title">Analog Input Pins</div>
					</a>
					<a href="?t=PWM">
						<img class="icon" src="./sq/arduino/PWM.png"/>
						<div class="icon-title">PWM Pins</div>
					</a>
					<a href="?t=Interrupt">
						<img class="icon" src="./sq/arduino/interrupt.png"/>
						<div class="icon-title">Interrupt Pins</div>
					</a>
					<a href="?t=SerialPins">
						<img class="icon" src="./sq/arduino/serial.png"/>
						<div class="icon-title">Serial Pins</div>
					</a>
					<a href="?t=io3v3">
						<img class="icon" src="./sq/arduino/io3v3.png"/>
						<div class="icon-title">3.3V CMOS</div>
					</a>
					<a href="?t=Sheild">
						<img class="icon" src="./sq/arduino/arduinoShieldStack.png"/>
						<div class="icon-title">Uno Sheild Stack</div>
					</a>
					<a href="?t=IIC">
						<img class="icon" src="./sq/arduino/IIC.png"/>
						<div class="icon-title">IIC</div>
					</a>
					<a href="?t=SPI">
						<img class="icon" src="./sq/arduino/SPI.png"/>
						<div class="icon-title">SPI</div>
					</a>	
				</div>
			</div>
		</div>
		<div class="feature-category">
			<a class="feature-image-container" href="?t=Physical">
				<img class="main-image" src="./sq/Physical.png"/>
			</a>
			<div>
				<a class="title" href="?t=Physical">Physical</a>
				<div style="font-size: 14px">
					evive is compact, light-weight and drop-safe. VESA-compatible 75mm mounting holes are provided to mount evive wherever you need. Although evive has a mini-breadboard inside its magic lid for small circuits, you can attach your regular-size breadboards to evive by the breadboard mounts provided.
				</div>
				<div class="icon-link-container">
					<a href="?t=Physical">
						<img class="icon" src="./sq/physical/size.png"/>
						<div class="icon-title">Size</div>
					</a>
					<a href="?t=Physical">
						<img class="icon" src="./sq/physical/weight.png"/>
						<div class="icon-title">Weight</div>
					</a>
					<a href="?t=Physical">
						<img class="icon" src="./sq/physical/mountHoles.png"/>
						<div class="icon-title">Mount Holes</div>
					</a>
					<a href="?t=Physical">
						<img class="icon" src="./sq/physical/vents.png"/>
						<div class="icon-title">Cooling Vents</div>
					</a>
					<a href="?t=Physical">
						<img class="icon" src="./sq/physical/breadBoardMount.png"/>
						<div class="icon-title">Breadborad Mount</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	.features-main-title{
		text-align: center;
		color: #1c75bc;
	}
	.features-container{
		max-width: 1340px;
		margin: auto;
	}
	.feature-category{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
		background: #fafafa;
		border: solid 1px #f0f0f0;
		padding: 12px;
		border-radius: 5px;
		margin-bottom: 24px;
	}
	.feature-category .title{
		font-size: 20px;
	    font-weight: bold;
	    margin: 12px 0;
	    display: block;
	}
	.feature-image-container{
		margin-right: 12px;
	}
	.main-image{
		width: 300px;
	}

	.icon-link-container{
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
	}

	.icon-link-container .icon{
		width: 64px;
		height: 64px;
	}
	.icon-link-container a{
		width: 96px;
    	transition: background ease 500ms;
   	 	margin: 0;
    	margin-top: 12px;
    	padding-top: 6px;
    	text-align: center;
    	padding: 0px;
	}
	.icon-link-container a:hover{
		background: #eee;
	}
	.icon-link-container .icon-title{
		text-align: center;
		text-decoration: none;
		color: inherit;
		font-size: 12px;
	}
</style>